
.navbar {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.background {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  z-index: -1; 
  background-image: url("./imgs/background.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul .logo {
  margin-right: auto; 
}

nav ul .link {
  text-decoration: none;
}

.navbar .link {
  position: absolute;
  margin-left: auto;
  cursor: pointer;
  text-align: right;
  font-weight: 60px;  
  right:50px;
  display: block;
  color: white;
  padding: 25px 25px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left:20px;
  margin-right:20px;
  z-index: 1;
  
  }
 
  
  li {
  float: left;
  
  }
  
  li a {
  font-weight: 60px;  
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  }
  .login{
      float:right;
  }
  .logo{
      background-image: url("./imgs/sound-removebg-preview.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px;
  }
  html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  .footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #062629;
    color: white;
    text-align: center;
}
  
  .line{
    width: 80%;
  }
  .right{
    position: absolute;
    margin-top:-30px;
    right:50px;
  }
  .right2{
    position: absolute;
    margin-top:-30px;
    right:200px;
  }